[submodule "contracts/ethereum/lib/forge-std"]
	path = contracts/ethereum/lib/forge-std
	url = https://github.com/foundry-rs/forge-std.git
	shallow = true
[submodule "contracts/starknet/garaga"]
	path = contracts/starknet/garaga
	url = https://github.com/keep-starknet-strange/garaga.git
