/relayer/target
/contracts/ethereum/out
/contracts/starknet/target
contracts/ethereum/broadcast
contracts/ethereum/cache/
contracts/ethereum/.env
contracts/ethereum/logs
contracts/ethereum/remappings.txt

ethereum/anvil.env
