.DS_Store
Cargo.lock
methods/guest/Cargo.lock
target/
.env

.snfoundry_cache/
*.json
.python-version
venv/
requirements.txt
db-instances/

client/.cargo/

client/db-store/

config/anvil.env

contracts/ethereum/remappings.txt

scripts/katana/deploy.log

scripts/katana/katana.log

*.pb

vendor/