# Ethereum RPC and Forking
ETH_RPC_URL=http://anvil:8545  # Local Ethereum RPC (Anvil)
FORK_URL=http://209.127.228.66:8545  # External Ethereum Sepolia RPC for forking

# Ethereum Account Details
ETH_ACCOUNT_ADDRESS=0xf39Fd6e51aad88F6F4ce6aB8827279cffFb92266  # Local Ethereum account
ACCOUNT_PRIVATE_KEY=0xac0974bec39a17e36ba4a6b4d238ff944bacb478cbed5efcae784d7bf4f2ff80  # Private key (do not expose in production)

# Bonsai API Configuration
BONSAI_API_URL=https://api.bonsai.xyz/  # Bonsai zk-prover API
BONSAI_API_KEY=XXX  # API Key for Bonsai zk-prover (replace with actual key)

# Database Configuration
DATABASE_URL=postgresql://public_user:1234@fossil-eth-blockheaders.cnc4gyc2mcb3.us-east-1.rds.amazonaws.com:5432/fossil.sepolia  # Postgres DB for Fossil block headers

# Anvil Configuration
ANVIL_CONFIG=config/anvil.messaging.json  # Anvil configuration file

# Starknet RPC and Account Details
STARKNET_RPC_URL=http://katana:5050  # Local Starknet RPC (Katana)
STARKNET_ACCOUNT=katana-0  # Local Starknet account (Katana)
STARKNET_ACCOUNT_ADDRESS=0x127fd5f1fe78a71f8bcd1fec63e3fe2f0486b6ecd5c86a0466c3a21fa5cfcec  # Starknet account address
STARKNET_PRIVATE_KEY=0xc5b2fcab997346f3ea1c00b002ecf6f382c5f9c9659a3894eb783c5320f912  # Starknet private key (do not expose in production)

# Messaging Contracts (Ethereum <-> Starknet)
SN_MESSAGING=0x0c77a52c35601106993B684E6b20D68FF0a89493  # Starknet messaging contract on Ethereum
L1_MESSAGE_SENDER=0x77F83238fa5FFD7E031C2D1195AC5d0a8D1B3df5  # L1 -> L2 message sender contract

# Fossil Contracts on Starknet
L2_MSG_PROXY=0x01c0692f888adfb3dea3d4b4446afbfcd3a2456a64b113084af3549e8d6915e8  # Proxy contract for L2 messaging
FOSSIL_STORE=0x02d4eac88f8e9bbb0fd4ff2c35d385710bf3f8a6e4061266ac4de628dac11dd5  # Fossil data storage contract

# zk Verification Contracts
STARKNET_VERIFIER=0x03848e3432559e5804d48e1a60faa59c9ab00f515bcf122e3865193277eb118a  # Starknet zk verification contract
FOSSIL_VERIFIER=0x029d9eba080e8e7a6eed79f432b8d0cbe1e7ffe4187eda3cf2819cde8d700ff2  # Fossil zk verification contract

# Deployment Configuration
DEPLOYMENT_VERSION=local  # Deployment environment (local/test/mainnet)
CHAIN_ID=11155111  # Ethereum Sepolia testnet chain ID
