name: Cairo fmt
on:
  pull_request:
jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true
      - uses: software-mansion/setup-scarb@v1
        with:
          scarb-version: "2.8.5"
      - run: cd contracts/starknet && scarb fmt --check
      - run: cd contracts/starknet && scarb build
    #   - run: snforge test
